body {
    background-color: $bg-color;
	background: url("/assets/img/bg-f.jpg") no-repeat center center fixed;
	background-size: cover;
	color: #fff;
	font-family: 'Lato', Sans-serif;
}

::selection {
	background-color: #263e59;
	color: #dfffff;
}

h1 {
	margin: 10px;
	line-height: 1em;
	font-size: 2.5rem;
	color: #fff;
	text-shadow: 0px 2px 6px $bg-color;
}

h2 {
	line-height: 1em;
	margin: 10px;
	padding: 0;
	font-size: 1.2rem;
	font-weight: 300;
	text-shadow: 0px 1px 1px $bg-color;
}

h3 {
	font-size: 1.5rem;
}

a, a:visited {
	color: #dfdfdf;
}

a:hover {
	color: #ee9933;
}

.container {
	display: block;
	margin: 0 auto;
	max-width: 680px;
	text-align: center;
}

.usr-avatar {
	display: block;
	margin: 10px auto;
	border-radius: 50%;
	border: 4px solid $bg-color;
	box-shadow: 0px 2px 8px 0px #222;
}

.top-btn {
	font-size: 3rem;
	padding: 0 25px;
	color: #DDD;
	&:hover {
		color: #ffbb66;
	}
}
.f-right {
	float: right;
}
.f-left {
	float: left;
}

$btn-size: 100px;
a.btn-round {
	display: inline-block;
	height: $btn-size;
	width: $btn-size;
	margin: 10px auto 3px auto;
	border-radius: 50%;
	background-color: #333;
	font-size: 1.6rem;
	font-weight: 700;
	color: #fff;
	line-height: $btn-size;
	&:hover{
		color: #ffbb66;		
	}
}

a.bg-green {
	background-color: #55a78c;
}
a.bg-blue {
	background-color: #579aa8;
}
a.bg-dblue {
	background-color: #5769a9;
}

.panel-social{
	margin: 0 20%;
}

.panel-btn {
	display: block;
	float: left;
	margin: 0 auto;
	width: 33%;
}

.label {
	display: block;
	font-weight: 800;
	&:hover {
		color: #ffbb66;
	}
}

.pics{
	display: inline;
	.row {
		padding: 0;
		// clearfix:
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		a {
			color: #dfdfdf;
			&:hover {
				color: #ffbb66;				
			}
		}
		.col-2 {
			display: block;
			float: left;
			width: 46%;
			margin: 0 2%;
			padding: 0;
			p {
				margin: 0;
				padding: 0;
				text-align: left;
				font-weight: 600;
				position: relative;
				top: 22px;
				left: 2px;
			}
			img {
				margin: 0;
				padding: 0;
				width: 100%;
			}
		}
	}
}

.menu-pics {
	padding-top: 5px; 
}

@media screen and (max-width: 520px) {
	.panel-social{
		margin: 0 15%;
	}
	$btn-size: 80px;
	a.btn-round {
		display: inline-block;
		height: $btn-size;
		width: $btn-size;
		margin: 10px auto 3px auto;
		border-radius: 50%;
		background-color: #333;
		font-size: 1.6rem;
		font-weight: 700;
		color: #fff;
		line-height: $btn-size;
		&:hover{
			color: #ffbb66;		
		}
	}
	a.bg-green {
		background-color: #55a78c;
	}
	a.bg-blue {
		background-color: #579aa8;
	}
	a.bg-dblue {
		background-color: #5769a9;
	}
}

@media screen and (max-width: 360px) {
	h1 {
		margin: 10px;
		line-height: 1em;
		font-size: 2.2rem;
		color: #fff;
		text-shadow: 0px 2px 6px $bg-color;
	}
	.panel-social{
		margin: 0 10%;
	}
	$btn-size: 70px;
	a.btn-round {
		display: inline-block;
		height: $btn-size;
		width: $btn-size;
		margin: 10px auto 3px auto;
		border-radius: 50%;
		background-color: #333;
		font-size: 1.6rem;
		font-weight: 700;
		color: #fff;
		line-height: $btn-size;
		&:hover{
			color: #ffbb66;		
		}
	}
	a.bg-green {
		background-color: #55a78c;
	}
	a.bg-blue {
		background-color: #579aa8;
	}
	a.bg-dblue {
		background-color: #5769a9;
	}
}